@import "/src/styles/mixins.scss";

.login {
  @include align-items-center;

  &__image {
    width: 60%;
    height: 100vh;
    border-radius: 0 30px 30px 0;
    background-image: url("../../../public/assets/images/union.jpeg");
    @include backgroundOptimize;
  }

  &__form {
    flex: 1;

    &__content {
      margin: 0 auto;
      width: 70%;
      @include direction-column;
      gap: 20px;
      padding: 10px;
      border-radius: 4px;
    }
  }
}
